<div class="row page-content-wrapper">
    <h2>
        <a [routerLink]="['/home']"><- Return</a>
    </h2>
</div>
<div class="row page-content-wrapper">
    <p><strong>Q2:</strong> You must fix this TODO list, please view the code in the directory called <strong>/fix-component/</strong>.</p>
</div>
<div class="row page-content-wrapper">
    <div class="col-md-10 col-md-offset-1">
        <div class="row">
            <h3><strong>TODO's List</strong></h3>
        </div>
        <div class="row">
            <table class="table table-striped">
                <thead>
                <tr>
                    <td>ID</td>
                    <td>Item</td>
                    <td class="text-right">Actions</td>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let todo of todos; let i = index">
                    <td>
                        {{ i + 1 }}
                    </td>
                    <td>
                        {{ todo }}
                    </td>
                    <td class="text-right">
                        <button class="btn btn-danger" (click)="removeTodo(todo)">Remove</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="form-group">
                            <input type="text" class="form-control" [(ngModel)]="input" [placeholder]="'TODO Item'" />
                        </div>
                    </td>
                    <td class="text-right">
                        <button class="btn btn-primary" (click)="addTodo(input)">Add</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>